// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  &:link,
  &:visited {
    font-weight: 300;
    color: #f1f1f1;
    height: 4vh;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: medium;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      background-color: #cf6d17;
    }
  }
}

.btn-full {
  &:link,
  &:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #f1f1f1;
  }
}

.btn-ghost {
  &:link,
  &:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
  }

  &:hover {
    color: #f1f1f1;
  }
}
