/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Defines that 1rem by default is 10px
 */
html {
  font-size: 62.5%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #181818;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("/vendors/images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-wrapper {
  width: 50vw;
  height: 24vh;
  transform: translateX(10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrapper h1 {
  color: #f1f1f1;
  font-weight: lighter;
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.btns-wrapper {
  height: 7vh;
  width: 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn:link, .btn:visited {
  font-weight: 300;
  color: #f1f1f1;
  height: 4vh;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: medium;
  text-decoration: none;
  transition: all 0.2s ease;
}
.btn:link:hover, .btn:visited:hover {
  background-color: #cf6d17;
}

.btn-full:link, .btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #f1f1f1;
}

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn-ghost:hover {
  color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
