// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(#000, 0.4), rgba(#000, 0.8)),
    image("hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  //border: 1px solid red;
}

.header-wrapper {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    width: auto;
    //border: 1px solid red;
    height: 10vh;
    transform: translateX(10rem);
  }
}

// -----------------------------------------------------------------------------
// Header navigation styling rules
// -----------------------------------------------------------------------------
nav {
  @include flex-center-between;
  padding-right: 3vw;
  //border: 1px solid teal;
  height: 15vh;

  ul {
    flex-basis: 42vw;
    //border: 1px solid white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  a {
    &:link,
    &:visited {
      padding: 8px 0;
      color: #f1f1f1;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2.5rem;
      border-bottom: 2px solid transparent;
      transition: all 0.5s;
      opacity: 0.8;
    }
    &:hover,
    &:active {
      opacity: 1;
      border-bottom: 2px solid #e67e22;
    }
  }
}

.text-wrapper {
  //border: 1px solid red;
  width: 50vw;
  height: 24vh;
  transform: translateX(10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btns-wrapper {
    //border: 1px solid green;
    height: 7vh;
    width: 17vw;
    @include flex-center-between;
  }
}
